* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Signika Negative', sans-serif;
    color: #677ce6;
    background-color: white;
    font-size: calc(15px + 0.4vw);
}

/* Header */
header{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 3rem;
}

/* Game Instruction Section */

/* #instruction-section{
    display: none;
} */

#instruction-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#welcome-message{
    font-weight: bolder;
    margin: 4vh 0;
    font-size: 2rem;
}

.instructions{
    margin: auto 7vw 3vh;
    font-size: 1.3rem;
}

hr{
    border: #677ce6 solid;
    width: 70vw;
}

#game-rules{
    margin-top: 3vh;
    line-height: 3rem;
}

.instruction-emoji{
    font-size: 2rem;
}

.button{
    font-size: 1.8rem;
    border: #677ce6 0.3vw solid;
    background-color: cadetblue;

}

.button:hover{
    cursor: pointer;
}

/* Modal & Backdrop*/
.backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    top: 0;
    display: none;
}
.modal-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 50vw;
    left: 25%;
    top:10vh;
}


#modal-pop-up{
    display: none;
}

#name-input{
    display: flex;
    justify-content: center;
}

#name {
    border: 4px solid black;
}

.game-select{
    cursor: pointer;
    text-align: center;
    border: none;
}

#player-select p{
    position: relative;
    font-size: 1.5rem;
}

.modal-heading{
    font-size: 2rem;
}

.rounds{
    text-align: center;
    font-size: 1.5rem;
}

.modal{
    text-align: center;
}

#start-game{
    margin:5vh auto;
    display: flex;
}

/* Game Section */
#game-section{
    display: none;
}

#selection-div{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#current-player{
    width: 100%;
    font-size:3rem;
}

#nb-rounds{
    text-align: center;
    font-size: 2rem;
}

#choice-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#score-div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.selection{
    font-size: 5rem;
    margin:3vw 5vw ;
    cursor: pointer;
    transition: 100ms;
}

.selection:hover{
    transform: scale(1.2);
     
}

.player-score-display{
    font-size: 2.5rem;
    width: 50vw;
}

/* End Game pop-up */
#end-game{
    display: none;
}