* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Signika Negative', sans-serif;
    color: #1c1127;
    background-color: white;
    font-size: calc(15px + 0.4vw);
    font-weight: 700;
}

/* body */
body{
    background-image: radial-gradient(#fafbe1 , #f32a30, #bf3548, 
    #1b122f );
    min-height: 100vh;
}

/* Header */
header{
    display: flex;
    justify-content: center;
    background: transparent;
}

h1{
    font-size: 3rem;
    background: transparent;
}

/* Game Instruction Section */
main{
    background: transparent;
}
#instruction-section{
    background: transparent;
}

#instruction-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: transparent;
}

#welcome-message{
    background: transparent;
    font-weight: bolder;
    margin: 1vh 0 0;
    animation: growth 3s;
    animation-fill-mode: backwards;
    font-size: 3rem;
}
@keyframes growth {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 3rem;
  }
}



.instructions{
    background: transparent;
    margin: auto 7vw 3vh;
    font-size: 1.3rem;
    margin-top: 1vh;
    line-height: 3rem;
}

hr{
    border: #1c1127 solid;
    width: 70vw;
}

#game-rules{
    height: 12vh;
    background: transparent;
}

#understand{
    background: transparent;
}

p{
    background: inherit;
}

.instruction-emoji{
    font-size: 2rem;
    background: transparent;
    animation: grow 3s infinite;
}

@keyframes grow {
    0% {
      font-size: 1.8rem;
    }
    50% {
      font-size: 2rem;
    }
    100% {
        font-size: 1.8rem;
      }
  }

.button{
    font-size: 2em;
    border: #211843 0.3vw solid;
    background-color: #db2e6b;
    padding: 0.5vh;
    margin-bottom: 2vh;
}

.button:hover{
    cursor: pointer;
    text-shadow: 0 0 0.5em #f9ead3,
    0 0 1em currentColor;
}

/* Modal & Backdrop*/
.backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    top: 0;
    display: none;
}

.modal-section{
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 50vw;
    left: 25%;
    top:10vh;
}


#modal-pop-up{
    display: none;
    background-image: radial-gradient(#fafbe1 , #f32a30, #bf3548, 
    #1b122f );
}

#name-input{
    display: flex;
    justify-content: center;
    background: transparent;
}

#name {
    border: 4px solid black;
}

.game-select{
    cursor: pointer;
    text-align: center;
    border: none;
}

#player-select p{
    position: relative;
    font-size: 1.5rem;
}

.modal-heading{
    font-size: 2rem;
    background: transparent;
}

.rounds{
    text-align: center;
    font-size: 1.5rem;
    background: transparent;
}

.modal{
    text-align: center;
    background: transparent;
}

#start-game{
    margin:5vh auto;
    display: flex;
}

/* Game Section */
#game-section{
    display: none;
}

#selection-div{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#current-player{
    width: 100%;
    font-size:3rem;
}

#nb-rounds{
    text-align: center;
    font-size: 2rem;
}

#choice-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#score-div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.selection{
    font-size: 5rem;
    margin:3vw 5vw ;
    cursor: pointer;
    transition: 100ms;
}

.selection:hover{
    transform: scale(1.2);
     
}

.player-score-display{
    font-size: 2.5rem;
    width: 50vw;
}

/* End Game pop-up */
#end-game{
    display: none;
}